.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    margin: 0 auto;
}

.hero__text__container {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-self: start;
    margin-top: 10rem;
    margin-left: 10rem;
}

.hero__heading-primary {
    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
    font-size: 8.8rem;
    line-height: 1.2;
    color: #244d4d;
}

.hero__heading-secondary {
    font-size: 2.4rem;
    margin-top: 4.8rem;
    color: #244d4d;
    line-height: 1.5;
}

.btn-primary {
    background-color: #244d4d;
    border-color: #244d4d;
    color: #ffffff;
    padding: 1.5rem 4rem;
    font-size: 1.8rem;
    margin-top: 4.8rem;
    cursor: pointer;
}

.btn-primary:hover {
    animation: primary-btn 0.5s ease-in-out forwards;
}

@keyframes primary-btn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.hero__image__container {
    display: flex;
    align-self: flex-end;
    width: 50vw;
}

.hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1366px) {
    .hero__heading-primary {
        font-size: 6.4rem;
    }

    .hero__heading-secondary {
        font-size: 1.6rem;
    }
}

@media (max-width: 1024px) {
    .hero__heading-primary {
        font-size: 6.4rem;
    }

    .hero__heading-secondary {
        font-size: 1.6rem;
    }
}

@media (max-width: 768px) {
    .hero__container {
        flex-direction: column;
        margin: 0;
    }

    .hero__text__container {
        width: 100%;
        margin: 0;
        padding: 4rem 0;
        padding-left: 8rem;
        margin-top: 2rem;
    }

    .hero__heading-primary {
        color: #244d4d;
        font-size: 8.8rem;
    }

    .hero__heading-secondary {
        color: #244d4d;
        margin-top: 4rem;
        font-size: 2.8rem;
    }

    .hero__image__container {
        width: 100%;
        margin-bottom: 8rem;
    }

    .hero__image {
        padding-left: 20rem;
    }
}

@media (max-width: 480px) {
    .hero__container {
        height: 100vh;
        margin: 0;
        justify-content: space-between;
    }

    .hero__text__container {
        width: 100vw;
        flex: 1;
        align-items: center;
        margin: 0;
        align-items: flex-start;
        padding: 0 4rem;
        padding-left: 5rem;
        padding-top: 10rem;
    }

    .hero__heading-primary {
        color: #244d4d;
        font-size: 5.6rem;
    }

    .hero__heading-secondary {
        color: #244d4d;
        margin-top: 3rem;
        font-size: 1.8rem;
    }

    .btn-primary {
        padding: 1.5rem 3rem;
        font-size: 1.6rem;
        margin-top: 6rem;
    }

    .hero__image__container {
        width: 100vw;
        flex: 1;
        margin-bottom: 2rem;
    }

    .hero__image {
        padding-left: 5rem;
        /* padding-bottom: 15rem; */
    }
}