.section1 {
    display: flex;
    background-color: #fefaf6;
    height: 100vh;
}

.section1 > .img__container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.section1 > .right__container {
    display: flex;
    flex: 1;
}

.section1 > .text__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.img__container img {
    width: 50rem;
    height: 60rem;
}

.right__container {
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.text__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20rem;
}

.text__container h2 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.2;
    color: #244d4d;
    margin-bottom: 4rem;
    font-family: Trebuchet MS,
    Lucida Sans Unicode,
    Lucida Grande,
    Lucida Sans,
    Arial,
    sans-serif;
    max-width: 520px;
}

.text__container p {
    font-size: 2rem;
    line-height: 1.5;
    color: #244d4d;
    max-width: 700px;
    margin-bottom: 5rem;
}

.section1__info {
    display: flex;
    align-items: center;
    gap: 20%;
}

.section1__info__item h5 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.section1__info__item p {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #244d4d;
    max-width: 700px;
    margin-bottom: 6.4rem;
}

@media (max-width: 480px) {
    .section1 {
        height: 100vh;
        flex-direction: column;
    }

    .section1 > .img__container {
        margin: 2rem 0;
    }

    .img__container img {
        width: 30rem;
        height: 40rem;
    }

    .right__container {
        margin: 2rem 0;
    }

    .text__container {
        padding: 20rem 3rem;
    }

    .text__container h2 {
        font-size: 4.8rem;
    }
}