header {
    display: flex;
    height: 15vh;
    margin: 0 auto;
    /* background-color: aquamarine; */
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
}

.logo {
    width: 35rem;
    height: 8rem;
    /* background-color: beige; */
}

img {
    width: 100%;
    height: 100%;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
}

li {
    list-style: none;
    margin: 0 3rem;
}

.link {
    color: #244d4d;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
}

.link:hover {
    color: #000000;
    border-bottom: 2px solid #244d4d;
}

.hamburger-react {
    display: none;
}

@media (max-width: 1024px) {
    .logo {
        width: 30rem;
        height: 7rem;
    }

    li {
        margin: 0 2rem;
    }

    .hamburger-react {
        display: none;
    }

}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 4rem;
    }

    .logo {
        width: 70%;
        height: auto;
        margin-bottom: 2rem;
    }

    nav {
        width: 90%;
        margin-top: 20px;
    }

    ul {
        align-items: center;
        justify-content: space-around;
    }

    li {
        margin-bottom: 10px;
    }

    .hamburger-react {
        display: none;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 4rem;
        margin-bottom: 0;
        padding: 0;
    }
    .logo {
        width: 70%;
        margin: 0;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        margin-top: 20px;
    }

    .hamburger-react {
        display: flex;
    }

    ul {
        display: none;
    }

    .nav-links.showMenu {
        display: flex;
        animation: menu 0.5s ease-in-out forwards;
        margin: 0;
        /* z-index: 99; */
    }

    @keyframes menu {
        from {
            opacity: 0;
            transform: translateX(100%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    li {
        margin-bottom: 10px;
    }

    .link {
        font-size: 1.4rem;
    }
}

@media (max-width:320px) {
    .logo {
        width: 70%;
    }

    .link {
        font-size: 1.3rem;
    }
}